<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/addarticles">Add article</a>
      <a href="/profile">Profile</a>
      <a href="/signout">SignOut</a>
    </header>
    <section class="add-section">
      <form action="/api/v1/article" method="post">
        <input type="text" placeholder="title..." name="title" required />
        <textarea placeholder="description..." name="des" required></textarea>
        <input
          type="text"
          placeholder="tags... use commas for multi tags"
          name="tags"
        />
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>
