<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/forms.css" />
    <title>SignIn</title>
</head>
<body>
    <form action="/api/v1/auth/reset" method="post">
        <h2>Reset Password</h2>
        <input type="password" placeholder="old password" name="oldpassword" required/>
        <input type="password" placeholder="new password" name="newpassword" required/>
        <button>Reset</button>
    </form>
</body>
</html>