body {
    background-color: rgb(104, 126, 170);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 5px;
}

div {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
    color: white;
}

button {
    background-color: yellowgreen;
    padding: 5px;
}

a {
    color: white;
}