* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: #6366f1;
  padding: 16px;
  display: flex;
  gap: 20px;
}

header a {
  color: #93c5fd;
  text-decoration: none;
  font-size: large;
}

header a:hover {
  color: #e0e7ff;
}

.profile-container {
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-container h2 {
  color: #6366f1;
  padding: 5px;
}

.profile-container a {
  color: red;
}

.add-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.add-section form {
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-section form input,
textarea {
  padding: 10px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.feed-box {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 20px;
}

.com-box {
  width: 700px;
}

.com-box form {
  position: relative;
  width: 100%;
  height: 60px;
}

.com-input {
  width: 100%;
  height: 60px;
  padding: 20px;
  border: 1px solid rgb(134, 134, 134);
  background-color: rgb(243, 243, 243);
  resize: none;
  position: absolute;
}

.com-box form button {
  position: absolute;
  z-index: 10;
  background-color: #6366f1;
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.com-container {
  width: 700px;
}
